name: 'Rampcode'
scopeName: 'source.rampcode'
type: 'tree-sitter'
parser: 'tree-sitter-rampcode'

fileTypes: ['ramp']

folds: [
  {
    type: 'comment'
  },
  {
    start: {type: '(', index: 0},
    end: {type: ')', index: -1}
  }
]

comments:
  start: '--'

scopes:
  'program': 'source.rampcode'
  
  'comment': [
    {
      match: "^--",
      scopes: 'comment.line'
    },
    'comment.block'
  ]

  'integer': 'constant.numeric'
  'float': 'constant.numeric'

  'signal': 'entity.name.function'

  'function_name': 'support.function'

  'set_statement': 'keyword.control'
  'rec_statement': 'keyword.control'
  'hz_statement': 'keyword.control'
  'amp_statement': 'keyword.control'
  'reset_statement': 'keyword.control'
  'ramp_statement > "ramp"': 'keyword.control'
  'left_channel_statement > "l"': 'keyword.control'
  'right_channel_statement > "r"': 'keyword.control'

  'reserved_word': 'keyword.operator'

  '''
    "*",
    "/",
    "%",
    "+",
    "-",
    "<<",
    ">>",
    "&",
    "^",
    "|",
    "~",
    "<",
    "<=",
    "==",
    "!=",
    ">=",
    ">",
    "&&",
    "||"
  ''': 'keyword.operator'